html, body, h1, h2, h3, h4, ul, ol, p, a {
 padding: 0;
 border: 0;
 margin: 0;
 font: inherit;
}
body {
  color: #333;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  cursor: crosshair;
}
h1 {
  font-size: 3.998em;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-size: 2.827em;
  line-height: 1.2em;
  text-transform: uppercase;
}
h3 {
  color: lightgrey;
  font-size: 2em;
  font-style: italic;
  margin-bottom: 0.6em;
}
h4 {
  font-size: 1.414em;
  line-height: 1.414em;
}
p, li {
  font-size: 1.414em;
  line-height: 1.414em;
  text-transform: uppercase;
}
a {
  color: #333;
  text-decoration: none;
}

/* ******************** Navigation ******************** */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}
.menu{
  display: flex;
  flex-flow: column;
  text-align: right;
}

/* **************************************** */


main {
margin: 1em 3em;
}
.content {
  padding-top: 2em;
}
.underline {
  border-bottom: 1px solid #333;
}
.underline:hover {
  border-bottom: none;
  color: gold;
  text-transform: capitalize;
}
/* ******************** Page:CV ******************** */

.contact {
  padding-top: 2em;
}
.grey {
  color: aqua;
}


/* ******************** Works ******************** */
.clicker {
  outline:none;
  cursor:pointer;
  padding-bottom: 1em;
}
.clicker:hover {
  transform: translateX(20px);
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
}
.contenthidden {
  display:none;
  margin-bottom: 2em;
}
.clicker:focus + .contenthidden {
  display: block;
}
.contenthidden img {
  padding: 2em 0;
  width:50%;
}

.collage {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.collage img {
  width: 20%;
  height:20%;
}




@media  (max-width: 796px) {
  nav{
    flex-flow: column;
  }
  .menu{
    text-align: left;
  }
  main {
  margin: 1em;
  }
  .collage{
    flex-flow: column;
  }
  .contenthidden img {
    width:100%;
    display:block;
    margin:auto;
  }

}


@media (hover: none) {
  .clicker{
    transform: translateX(0px);

  }
}
